{% extends 'base.html.twig' %}

{% block body %}
    <article>
    <h2>{{ article.title }}</h2>
    <div class="metadata">Ecrit le {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('H:i') }} dans la catégorie Politique</div>
    <div class="content">
        <img src="http://placehold.it/350x" alt="">
       <p> {{ article.content | raw }} </p>
        </hr>
    </div>
</article>
{% endblock %}